.baseinfo
	display block
	border 0
	color #2f1b15
	font-size 23px
	font-weight bold

	&__label
		display flex

		&--htmlacademy-label
			padding-left 50px
			position relative
			cursor pointer

			&:after
				position absolute
				content ''
				sprite $radio
				top 0
				left 20px

			&:before
				position absolute
				content ''
				sprite $radiocheck
				top 7px
				left 27px
				display none


	&__textinput
		flex-grow 1
		margin-left 20px
		background-color transparent
		border 0
		outline 0
		background-image url(/img/post.png)
		background-repeat no-repeat
		background-position bottom left

	&__htmlacademy
		display flex
		flex-direction row

	&__htmlacademy-radio
		display none

	&__htmlacademy-radio:checked+.baseinfo__label--htmlacademy-label:before
		display block


