mixin baseinfo()
	+b('fieldset').baseinfo&attributes(attributes)
		+baseinput(getData('baseinfo'),'baseinfo')
		+e.htmlacademy
			| Выпускник&nbsp;
			+e('a').link(href="http://htmlacademy.ru" target="_blank") htmlacademy.ru
			+e('input').htmlacademy-radio(type="radio" id="htmlacademy-yes" name="htmlacademy" checked)
			+e('label').label(for="htmlacademy-yes") Да
			+e('input').htmlacademy-radio(type="radio" id="htmlacademy-no" name="htmlacademy")
			+e('label').label(for="htmlacademy-no") Нет
