.baseinfo
	display block
	border 0
	color #2f1b15

	&__label
		display flex
		font-size 23px
		font-weight bold

	&__textinput
		flex-grow 1
		margin-left 20px
		background-color transparent
		border 0
		outline 0
		background-image url(/img/post.png)
		background-repeat no-repeat
		background-position bottom left

