.baseinfo
	display block
	font-size 23px
	font-weight bold
	color #2f1b15
	border none

	&__label
		position relative
		margin-bottom 25px
		padding-left 60px
		display flex
		align-items flex-end
		cursor pointer

		&:after
			position absolute
			top 0
			left 27px
			content ''
			sprite $radio

		&:before
			position absolute
			top 7px
			left 34px
			display none
			content ''
			sprite $radiocheck

	&__htmlacademy
		margin-top 48px
		display flex
		flex-direction row

	&__htmlacademy-radio
		display none

	&__htmlacademy-radio:checked+.baseinfo__label:before
		display block

	&__link
		height 25px
		text-decoration none
		color #014f98
		border-bottom 1px solid #014f98
