.header
	display flex
	flex-direction row
	justify-content space-between

	&__logo
		margin-left 48px
		margin-top 66px
	&__text
		font-size 10px
		color #2f1b15
		margin-left 4px
		margin-top 3px
	&__stamp
		margin-right 53px
		margin-top 47px
