mixin header()
	+b('header').header&attributes(attributes)
		+e.logo
			+e('img').image(src="assets/img/logo.png")
			+e.text Секретный архив учреждения
		+e.stamp
			+e('img').image(src="assets/img/stamp.png")
