.header
	display flex
	justify-content space-between

	&__logo
		margin-top 66px
		margin-left 48px

	&__text
		margin-top 3px
		margin-left 4px
		font-size 10px
		color #2f1b15

	&__stamp
		margin-top 47px
		margin-right 53px
