.header
	display flex
	flex-direction row
	justify-content space-between

	&__logo
		margin-left 50px
		margin-top 65px
	&__text
		font-size 10px
		color #2f1b15
		margin-left 5px
	&__stamp
		margin-right 56px
		margin-top 48px
