mixin slider()
	+b('fieldset').slider&attributes(attributes)
		+e('legend').legend Уровень владения JavaScript
		+e.line
			+e.dot
		+e('ul').levels
			+e('li').level(data-lval=0) Не владею
			+e('li').level(data-lval=20) Использую готовые решения
			+e('li').level(data-lval=50) Использую готовые решения и умею их переделывать
			+e('li').level(data-lval=100) Пишу сложные скрипты
		+e('input').currentlevel(value="50" type="hidden")
