.slider
	margin-top 70px
	margin-left 14px
	border none

	&__legend
		margin-bottom 25px

	&__line
		position relative
		width $sliderwidth
		height 20px
		background-image url(../img/line.png)
		background-repeat no-repeat
		background-position bottom left

	&__dot
		position absolute
		left 0
		margin-left -8px
		cursor pointer
		sprite $triangle
		transition all .05s ease-in-out

	&__levels
		position relative
		width $sliderwidth
		height 60px
		font-size 13px

	&__level
		position absolute
		padding-top 30px
		width 170px
		cursor pointer

		&:before
			position absolute
			top -1px
			left -2px
			display block
			content ''
			sprite $dashshort

		&:first-child
			left 0

			&:before
				left 0
				sprite $dashlong

		&:last-child
			right 0
			text-align right

			&:before
				right 0
				left auto
				sprite $dashlong

