.skills
	display block
	border 0

	&__legend
		color #2f1b15
		font-size 23px
		font-weight bold

	&__note
		display flex

	&__text
		font-size 14px

	&__checkboxes
		display flex

	&__checkbox
		display none

	&__column
		display flex
		flex-direction column
		flex-basis 33%

	&__label
		position relative
		padding-left 30px
		margin-bottom 10px
		cursor pointer

		&:after
			position absolute
			content ""
			top 0
			left 0
			sprite $box

		&:before
			position absolute
			content ""
			top -10px
			left 5px
			sprite $boxcheck
			display none

	&__checkbox:checked+.skills__label:before
		display block


