mixin skills()
	+b('fieldset').skills&attributes(attributes)
		+e('legend').legend Практические навыки
		+e.note
			+e('p').asterisk *
			+e('p').text Отметьте только те технологии и типы задач, с которыми вы хорошо знакомы.
				| Отсутсвие опыта отнюдь не означает, что у вас меньше шансов стать нашим сотрудником.
				| Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.

		+e.checkboxes
			+skillsdata(getData('skills'))

mixin skillsdata(data)
	each column in data
		+e.column
			each item in column
				+e('input').checkbox(type="checkbox" id=item.name name=item.name checked=item.checked)
				+e('label').label(for=item.name)
					=item.title


