.skills
	display block
	border 0
	margin-top 23px

	&__legend
		color #2f1b15
		font-size 23px
		font-weight bold
		margin-bottom 15px

	&__note
		display flex

	&__asterisk
		font-size 36px
		flex-basis 42px

	&__text
		font-size 14px
		line-height 20px

	&__checkboxes
		display flex
		margin-top 24px
		justify-content space-between

	&__checkbox
		display none

	&__column
		display flex
		flex-direction column
		flex-basis 260px

	&__label
		position relative
		padding-left 30px
		margin-bottom 13px
		line-height 22px
		cursor pointer

		&:after
			position absolute
			content ""
			top 3px
			left 3px
			sprite $box

		&:before
			position absolute
			content ""
			top -7px
			left 8px
			sprite $boxcheck
			display none

	&__checkbox:checked+.skills__label:before
		display block


