.skills
	margin-top 23px
	display block
	border none

	&__legend
		margin-bottom 15px
		font-size 23px
		font-weight bold
		color #2f1b15

	&__note
		display flex

	&__asterisk
		flex-basis 42px
		font-size 36px

	&__text
		font-size 14px
		font-weight 400
		line-height 20px

	&__checkboxes
		margin-top 24px
		display flex
		justify-content space-between

	&__checkbox
		display none

	&__column
		display flex
		flex-direction column
		flex-basis 260px

	&__label
		position relative
		margin-bottom 13px
		padding-left 30px
		font-size 21px
		line-height 22px
		cursor pointer

		&:after
			position absolute
			top 3px
			left 3px
			content ''
			sprite $box

		&:before
			position absolute
			top -7px
			left 8px
			display none
			content ''
			sprite $boxcheck

	&__checkbox:checked+.skills__label:before
		display block


